.head {
    background-color: grey;
    border: 1px solid black;
    height: 44px;
    width: 100%;
}

.title {
    background-color: grey;
    color: black;
    font-size: 24px;
    height: 44px;
    vertical-align: center;
    float: left;
    width: 40%;
}

.toolbar {
    content: "";
    display: inline-table;
    float: right;
}

.toolbar img {
    background-color: grey;
    border: 1px solid black;
    padding: 0px;
    cursor: pointer;
    float: leftt;
}

.frames {
    height: 100%;
    width: 100%;
    border: 2px solid blue;
    min-height: 100px;
}

.dbframe {
    width: 50%;
    height: 100%;
    background-color: white;
    left: 0;
    position: fixed;
}

.mapframe {
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    right: 0;
    position: fixed;
}

.esri-popup__main-container.esri-widget {
    width: 310px !important;
    max-height: 300px !important;
}